body{
  width: 1300px;
  height: 600px;
  background-image: url('res/background.png');
  background-size: 1300px 600px;
  background-repeat: no-repeat;
}

#sitebody{
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

#left_bar{
  width: 300px;
  height: 300px;
  text-align: left;
  line-height: 80px;
  float: left;
}

#content{
  margin-left: 300px;
  width: 800px;
  height: 300px;
  line-height: 80px;
  text-align: left;
}

#footer{
  height: 300px;
  text-align: left;
}

.item_btn img{
  width: 100px;
  height: 100px;
}

#brush{
  width: 100px;
  height: 100px;
}

#basket{
  width: 150px;
  height: 100px;
}

#shovel{
  width: 100px;
  height: 100px;
}

.item img{
  position: absolute;
}

#salt3{
  padding-left: 100px;
  padding-top: 20px;
  width: 200px;
  height: 100px;
}

#salt2{
  padding-left: 150px;
  width: 200px;
  height: 100px;
}

#salt{
  padding-left: 300px;
  padding-top: 30px;
  width: 100px;
  height: 50px;
}

#mountain{
  padding-left: 100px;
  width: 300px;
  height: 200px;
  position: absolute;
}

 .control_btn img{
  width: 160px;
  height: 80px;
 } 

 #intro_btn{
  padding-left: 700px;
  padding-top: 150px;
 }

#shade{
  background-image: url('res/shade.png');
  background-size: 1300px 600px; 
  width: 1300px;
  height: 600px;
  position: absolute;
}

#start_btn{
  width: 120px;
  height: 120px;
  position: absolute;
  padding-left: 590px;
  padding-top: 240px;
}

#intro_page{
  width: 1300px;
  height: 600px;
  position: absolute;
  background-image: url('res/shade.png');
  background-size: 1300px 600px;
}

#intro_page p{
  color: white;
  font-size: 30px;
  width: 700px;
  padding-left: 300px;
}


